<html>
  <body>
    <div>
      <div class="production-show py-5 bg-light">
        <h2 class="page-title text-center">
          <strong><%= link_to @production.shop.shop_name, shop_path(@production.shop.id), class:"shop-text" %></strong> で購入されました
        </h2>
        <div class="container">
          <div class="card d-flex flex-column align-items-center">
            <div class="card-body pt-5">
              <div id="carouselExampleControls" class="carousel slide carousel-dark pb-4" data-bs-ride="carousel" data-bs-interval="false">
                <div class="carousel-indicators">
                  <% if @production.images[1].present? %>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="スライド 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="スライド 2"></button>
                  <%end%>

                  <% if @production.images[2].present? %>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="スライド 3"></button>
                  <%end%>

                  <% if @production.images[3].present? %>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="スライド 4"></button>
                  <%end%>
                </div>
                
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <%= image_tag @production.images[0], class:"img mb-4", width:"100%", height:"400" %>
                  </div>
                  
                  <!--2枚目があれば表示する-->
                  <% if @production.images[1].present? %>
                    <div class="carousel-item">
                      <%= image_tag @production.images[1], class:"img mb-4", width:"100%", height:"400" %>
                    </div>
                  <%end%>

                  <!--３枚目があれば表示する-->
                  <% if @production.images[2].present? %>
                    <div class="carousel-item">
                      <%= image_tag @production.images[2], class:"img mb-4", width:"100%", height:"400" %>
                    </div>
                  <%end%>

                  <!--4枚目があれば表示する-->
                  <% if @production.images[3].present? %>
                    <div class="carousel-item">
                      <%= image_tag @production.images[3], class:"img mb-4", width:"100%", height:"400" %>
                    </div>
                  <%end%>

                </div>
                
                <button type="button" class="carousel-control-prev position-absolute top-50 start-0 translate-middle" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon position-absolute top-50 start-0 translate-middle" aria-hidden="true"></span>
                  <span class="visually-hidden position-absolute top-50 start-0 translate-middle">前へ</span>
                </button>
                <button type="button" class="carousel-control-next position-absolute top-50 start-100 translate-middle" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon position-absolute top-50 start-100 translate-middle" aria-hidden="true"></span>
                  <span class="visually-hidden position-absolute top-50 start-100 translate-middle">次へ</span>
                </button>
              </div>
            </div>

            <%# 投稿者のみに表示する機能 %>
            <% if user_signed_in? && current_user.id == @production.user_id %>
              <p class="user-text mb-3 fs-5 text-danger">
                <strong>投稿者専用機能</strong>
              </p>
              <div class="btn-group col-6 mx-auto mb-4">
                <%= link_to 'Edit', edit_shop_production_path, class:"btn btn-lg btn-outline-secondary" %>
              </div>
            <%end%>
            <%# /投稿者のみに表示する機能 %>
          </div> 

          <div class="card text-center py-3">
            <dl class="card-boby row justify-content-center">
              <dt class="card-text col-sm-4 fs-5">商品カテゴリー</dt>
              <dd class="card-text col-sm-5 fs-5"><%= @production.product_category.name %></dd>
            </dl>
            <dl class="card-boby row justify-content-center">
              <dt class="card-text col-sm-4 fs-5">商品名</dt>
              <dd class="card-text col-sm-5 fs-5"><%= @production.production_name %></dd>
            </dl>

            <dl class="card-boby row justify-content-center">
              <dt class="card-text col-sm-4 fs-5">購入日</dt>
              <dd class="card-text col-sm-5 fs-5"><%= @production.purchase_date %></dd>
            </dl>

            <%# カテゴリーがコーヒー豆の場合のみ表示させる情報 %>
            <% if @production.product_category_id == 2 %>
              <dl class="card-boby row justify-content-center text-lef">
                <dt class="card-text col-sm-4 fs-5">配合</dt>
                <dd class="card-text col-sm-5 fs-5"><%= @production.coffee_blend.name %></dd>
              </dl>
              <dl class="card-boby row justify-content-center">
                <dt class="card-text col-sm-4 fs-5">焙煎度</dt>
                <dd class="card-text col-sm-5 fs-5"><%= @production.degree_of_roasting.name %></dd>
              </dl>
              <dl class="card-boby row justify-content-center">
              <dt class="card-text col-sm-4 fs-5">生産国</dt>
                <dd class="card-text col-sm-5 fs-5"><%= @production.country_of_origin.name %></dd>
              </dl>

              <%# 入力がない場合表示させない情報 %>
              <% if @production.farm_name.present? && @production.coffee_beans_type.present? %>
                <dl class="card-boby row justify-content-center">
                  <dt class="card-text col-sm-4 fs-5">農場名</dt>
                  <dd class="card-text col-sm-5 fs-5"><%= @production.farm_name %></dd>
                </dl>
                <dl class="card-boby row justify-content-center">
                  <dt class="card-text col-sm-4 fs-5">品種</dt>
                  <dd class="card-text col-sm-5 fs-5"><%= @production.coffee_beans_type %></dd>
                </dl>
              <% end %>
              <%# /入力がない場合表示させない情報 %>

              <dl class="card-boby row justify-content-center">
                <dt class="card-text col-sm-4 fs-5">精選方法</dt>
                <dd class="card-text col-sm-5 fs-5"><%= @production.carefully_selected_method.name %></dd>
              </dl>
              <dl class="card-boby row justify-content-center">             
                <dt class="card-text col-sm-4 fs-5">味の体感チャート</dt>
                <dd class="col-sm-5">
                  <dl class="card-boby row">
                    <dt class="card-text col-sm-4 fs-5">甘味</dt>
                    <dd class="card-text col-sm-8 fs-5"><%= @production.sweetness.name %></dd>
                  </dl>
                  <dl class="card-boby row">
                    <dt class="card-text col-sm-4 fs-5">酸味</dt>
                    <dd class="card-text col-sm-8 fs-5"><%= @production.acidity.name %></dd>
                  </dl>
                  <dl class="card-boby row">
                    <dt class="card-text col-sm-4 fs-5">苦味</dt>
                    <dd class="card-text col-sm-8 fs-5"><%= @production.bitter_taste.name %></dd>
                  </dl>
                  <dl class="card-boby row">
                    <dt class="card-text col-sm-4 fs-5">風味</dt>
                    <dd class="card-text col-sm-8 fs-5"><%= @production.flavor.name %></dd>
                  </dl>
                </dd>             
              </dl>
            <% end %>
          <%# /カテゴリーがコーヒー豆の場合のみ表示させる情報 %>
                
          <%# 感想が空の場合表示を消す記述 %>
          <% if @production.product_report.present? %>
            <dl class="card-boby row justify-content-center">
              <dt class="card-text col-sm-4 fs-5">商品の感想</dt>
              <dd class="card-text col-sm-5 fs-5"><%= @production.product_report %></dd>
            </dl>
          <% end %> 
          <%# /感想が空の場合表示を消す記述 %>
        </div>
      </div>
    </div>
  </body>
</html>