<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
  aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse me-4" id="navbarTogglerDemo02">
  <ul class="navbar-nav me-auto mt-2 mx-4 mb-lg-0 gap-2">
    <li class="nav-item">
      <%= link_to "NewPost", new_shop_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
       <%= link_to "MyPage", user_path(current_user.id), class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "UserList", users_path, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "WishList", index_wishlist_path,  method: :get, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Logout", destroy_user_session_path,  method: :delete, class: "nav-link" %>
    </li>
  </ul>
  <div class="text-white mx-3 mt-2">
    <%= current_user.nickname %>さん、おかえりなさい
  </div>
  <%= form_with(url: search_shops_path, local: true, method: :get, class: "d-flex gap-2") do |f| %>
    <%= f.text_field :keyword, placeholder: "Search", class: "form-control" %>
    <%= f.submit "Search", class: "btn btn-outline-success" %>
  <%end%>
</div>