<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
  aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>
<div class="collapse navbar-collapse mx-4" id="navbarTogglerDemo02">
  <ul class="navbar-nav me-auto mt-2 mb-lg-0 gap-4">
    <li class="nav-item">
      <%= link_to "Signin", new_user_registration_path, method: :get, class: "nav-link" %>
    </li>
    <li class="nav-item">
      <%= link_to "Login", new_user_session_path,  method: :get, class: "nav-link" %>
    </li>
  </ul>
  <%= form_with(url: search_shops_path, local: true, method: :get, class: "d-flex gap-2") do |f| %>
    <%= f.text_field :keyword, placeholder: "Search", class: "form-control" %>
    <%= f.submit "Search", class: "btn btn-outline-success" %>
  <%end%>
</div>